/* CSS RESET */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* ROOT */

:root{
    --small: 20px;
}

/* GENERIC */

a{
    color:#000;
    text-decoration: none;
}

li{
    display: inline;
}

.border{
    border: 2px dashed #000;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
}

.footer-style{
    background-color: #23272A;
    margin-bottom: 2px;
    padding-top: 30px;
}

/* UTILITIES */

.container{
    width: 1200px;
    margin: 0 auto;

}

.nav-align{
    line-height: 40px;
    vertical-align: middle;
}

.bg-grey{
    background-color: #D3D3D3;
}
/* HEADER */

header{
    min-height: 600px;
    background-color: #ADD8E6;
    padding-top: var(--small);
}

.flex-item{
    flex-basis: 200px;
    padding: 0 10px;
}

.main-nav{
    min-height: 40px;
    display: flex;
    background-color: goldenrod;
    margin-bottom: var(--small);
    font-size: larger;
    }

.main-nav ul{
    flex-grow: 1;
    text-align: center;
    
}

.jumbotron {
    background-color: #00008B;
    min-height:500px;
    padding: 50px 450px;
}

.jt-content{
    background-color: #EE82EE ;
    min-height: 400px;
    min-width: 200px;

}

/* MAIN */

.main-big-box{
    min-height: 500px;
    flex-basis: 60%;
    background-color: #1E90FF;
}

.main-small-box{
    min-height: 500px;
    flex-basis: 40%;
    background-color: #FFC0CB;
}

.m-footer{
    min-height: 1200px;
}

.g-box{
    background-color: #228B22;
    min-height: 1100px;
    flex-basis: 100%;
}

/* FOOTER */


.ft-big-box{
    min-height: 500px;
    flex-basis: 30%;
    background-color: #F08080;
}

.ft-small-box{
    min-height: 500px;
    flex-basis: 70%;
    background-color: #20B2AA;
    display: flex;
}

.ft-small-box-item{
    border: 2px dashed #fff ;
    flex-basis: 25%;
}

.flex-ft-info{
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: #7FFFD4;
     min-height: 80px;
    
}

.ft-info-item{
    background-color: #FFB6C1;
    padding: 8px;
    font-size: 20px;
}